<div style="text-align: center">
  <mat-card>
    <h1>
      <mat-card-title>
        <i class="material-icons md-48">
          table_chart
        </i>
        Your Receipts
        {{this.receiptName}}
      </mat-card-title>
    </h1>

  </mat-card>
  <mat-card class="receiptCard">
    <div class="row">
      <div class="col-md-2">
        Filter By:
      </div>
      <div>
        <input type="text" />
      </div>
      <button class="offset-lg-9" id = "upload" mat-raised-button color="primary" (click)="openDialog()">
        Upload
      </button>
    </div>
    <a class="route-link" [routerLink]="['/welcome']">
      <button mat-raised-button color="accent">
        Back
      </button>
    </a>
    <h1 *ngIf = "receiptName">
      {{receiptName}}
    </h1>
    <mat-grid-list *ngIf = "receipts" cols = "4" rowHeight="1:1">
      <mat-grid-tile *ngFor = "let receipt of receipts">
        <h1>{{receipt.receiptName}}</h1>
        <h4>{{receipt.dateSaved}}</h4>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>