.receiptObjects {
    padding: 20px;
}

.receiptGridObject {
    color: white;
    background-color:#FFDC24;
    padding-bottom:10px;
}

.receiptObjectHeader {
    text-align: center;
}

.backButton {
    align-content: flex-end;
    align-items: flex-end;
}

.title-bar, .receiptCard {
    background-color: #2AABE4;
    color: white;
}

.receiptName {
    font-size: 20px;
}

h1 {
    font-family: 'Muli', sans-serif;
}

#receiptTitle, #receiptBody {
    color: black;
}



.upload-button {
    padding-left: 10px;
}