<div style="text-align: center">
  <mat-card>
    <h1>
      <mat-card-title>
        <i class="material-icons md-48">
          table_chart
        </i>
        Your Receipts
      </mat-card-title>
    </h1>

  </mat-card>
  <mat-card class="receiptCard">
    <div class="row">
      <div class="col-md-2">
        Filter By:
      </div>
      <div>
        <input type="text" />
      </div>
      <button class="offset-lg-9" id = "upload" mat-raised-button color="primary" (click)="openDialog()">
        Upload
      </button>
    </div>
    <a class="route-link" [routerLink]="['/welcome']">
      <button mat-raised-button color="accent">
        Back
      </button>
    </a>
  </mat-card>
</div>