<h1 mat-dialog-title>Upload Receipt</h1>
<mat-dialog-content>
  <form class="save-receipt-form">
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="data.name" matInput placeholder="Receipt Name" id="receiptName">
      <mat-error>Required</mat-error>
    </mat-form-field>
    <br>
    <!---
    <mat-form-field class="example-full-width">
      <input type="file" accept="image/png, image/jpeg" id="content" />
    </mat-form-field>
  -->
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click) = "onClickCancel()">
    Cancel
  </button>
  <button mat-raised-button [disabled] = "!isEnabled"[mat-dialog-close] = "data.receiptName">
    Upload
  </button>
</mat-dialog-actions>