<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-card>
    <h1>
      Welcome to {{ title }}!
    </h1>
  </mat-card>
  <mat-card>
    <p>
      Store all of your receipts digitally, have them available for access at your fingertips!
    </p>
  </mat-card>
</div>
<div class = 'upload button'>
  <a class = 'route-link' [routerLink] = "['/upload']">
    <button mat-raised-button color="primary">
      Get Started
    </button>
  </a>
</div>