.uploadButton {
    text-align: center;
}

.getStarted {
    margin: auto;
    display: block;
}

.background-image {

}

.welcome-title {
    background-color: #2AABE4;
}

#bg-image {
    padding-top: 10px;
}

.page-title, .page-text {
    color: white;
}