<div style="text-align:center">
  <mat-card class = "welcome-title">
    <mat-card-title>
      <h1 class = "page-title">
        Welcome to {{ title }}!
      </h1>
    </mat-card-title>
    <mat-card-subtitle>
      <p class = "page-text">
        Store all of your receipts digitally, have them available for access at your fingertips!
        <i class="material-icons">
          pan_tool
        </i>
      </p>
    </mat-card-subtitle>
  </mat-card>
</div>
<div class="text-center image-row">
  <img id = "bg-image" src="https://us.123rf.com/450wm/bloomua/bloomua1310/bloomua131000002/22900811-high-quality-illustration-set-of-modern-technology-devices-computer-monitor-laptop-digital-tablet-an.jpg?ver=6" class="img-responsive center-block"
  alt="A digital cloud; representing DigiCeipt's cloud vision"
  style="max-height:300px;padding-bottom:50px" >
</div>
<div class='uploadButton'>
  <a class='route-link' [routerLink]="['/receipts']">
    <button class="getStarted" mat-raised-button color="primary">
      Get Started
    </button>
  </a>
</div>