<div style="text-align:center">
  <mat-card>
    <mat-card-title>
      <h1>
        Welcome to {{ title }}!
      </h1>
    </mat-card-title>
    <mat-card-subtitle>
      <p>
        Store all of your receipts digitally, have them available for access at your fingertips!
        <i class="material-icons">
          pan_tool
        </i>
      </p>
    </mat-card-subtitle>

  </mat-card>
</div>
<div class = "background-image">
  <img src = "/Client/src/static/img/Cloud-bg.png" alt="digital cloud">
</div>
<div class='uploadButton'>
  <a class='route-link' [routerLink]="['/receipts']">
    <button class="getStarted" mat-raised-button color="primary">
      Get Started
    </button>
  </a>
</div>